# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NODE_ENV=development
NEXTAUTH_URL="http://localhost:3010"
NEXTAUTH_SECRET="FeedAHelp"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Sanity Credentials
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=s98tqz9i
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_SANITY_API_TOKEN=sknrsFYUKMl2E4UFGamMjhh32N7Qds3SjkgZojV9vF2aqd1SMYn76TBDGDq2xr4RyzLlGUBG2a3nCekqVPiOISNU3V5kUkb3FGfXh5fZarfDXT8gUmesmQl3MyllTvd3ZSaHcngwb3ZEDFjPReqX3uNxTSbJcf0nCzE8ELF1zWhGYuaOS8s3
SANITY_PREVIEW_SECRET=

NEXT_PUBLIC_RECAPTCHA_SITE_KEY= 6LdnZhcoAAAAAMTmbWZzRrHzpTrNLzF0qZg15ko3
RECAPTCHA_SECRET_KEY= 6LdnZhcoAAAAANKAH_OlHOTxwOxh3mX6EBwKRCgl

NEXT_PUBLIC_BASE_URL="www.feedahelp.com"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=954609406120-u9vj3dmmbqcoegado9khrga4hv9k7cnp.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_LINKEDIN_ID=77kx20hph6qm1p
NEXT_PUBLIC_LINKEDIN_SECRET=H5EZBgiN2y1Y1KBF
NEXT_PUBLIC_FACEBOOK_ID=235202969506702
NEXT_PUBLIC_FACEBOOK_SECRET=d67159f8fb2255e506e7bbf35e7568d5

NEXT_PUBLIC_SANITY_DATASET=feedahelp
NEXT_PUBLIC_SANITY_PROJECT_ID=s98tqz9i
NEXT_PUBLIC_SANITY_API_TOKEN=sksqOpe0r0aCgGJDbFS4cZZAe60xFBQOsPfCzTBJ3UzHMtJ0c4Y8QZkHE70auwG1M2oR6UlmksZCZEZRiVtdcx9STBsttS99UnnL70naJd1myH1C3xeLSkL7TQ1QZaNfNbZiWaVLFSNPska7mZYbMMDAZ2MIRq9UDUkE4Dxl0JfDoWjM5cnG

NEXT_PUBLIC_INSTAGRAM_ID= 'client ID'
NEXT_PUBLIC_INSTAGRAM_SECRET= 'secret'
NEXT_PUBLIC_TWITTER_ID= 'client ID'
NEXT_PUBLIC_TWITTER_SECRET= 'secret'
