# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3010"
NEXTAUTH_SECRET="FeedAHelp"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Sanity Credentials
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=s98tqz9i
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_SANITY_API_TOKEN=sknrsFYUKMl2E4UFGamMjhh32N7Qds3SjkgZojV9vF2aqd1SMYn76TBDGDq2xr4RyzLlGUBG2a3nCekqVPiOISNU3V5kUkb3FGfXh5fZarfDXT8gUmesmQl3MyllTvd3ZSaHcngwb3ZEDFjPReqX3uNxTSbJcf0nCzE8ELF1zWhGYuaOS8s3
SANITY_PREVIEW_SECRET=

RECAPTCHA_SITE_KEY=6Ldu4eMnAAAAAIWpEX8R81LvNVjvVbAv0CMKALT0
RECAPTCHA_SECRET_KEY=6Ldu4eMnAAAAAGqqLxyXMfDRlRSiNEjGd8jX24bA

NEXT_PUBLIC_BASE_URL="www.feedahelp.com"
NEXT_PUBLIC_GOOGLE_CLIENT_ID= 'client ID'
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET= 'secret'
NEXT_PUBLIC_LINKEDIN_ID= 'client ID'
NEXT_PUBLIC_LINKEDIN_SECRET= 'secret'
NEXT_PUBLIC_FACEBOOK_ID= 'client ID'
NEXT_PUBLIC_FACEBOOK_SECRET= 'secret'
NEXT_PUBLIC_INSTAGRAM_ID= 'client ID'
NEXT_PUBLIC_INSTAGRAM_SECRET= 'secret'
NEXT_PUBLIC_TWITTER_ID= 'client ID'
NEXT_PUBLIC_TWITTER_SECRET= 'secret'