@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("imageCarousal.css");

@layer components{
    .dropDownOption{
       @apply p-2 hover:bg-slate-400 w-full flex cursor-pointer rounded-r-lg border-l-transparent hover:border-l-white border-l-4
    }
    .heroTextWrapper{
        @apply absolute md:relative z-20 bg-neutral-50 md:bg-transparent w-full md:w-[300px] lg:w-auto h-14 flex justify-center items-center md:justify-normal md:items-start
    }
    .heroText{
        @apply md:mt-16 inline md:py-10 font-semibold text-neutral-400 md:w-96 md:ps-14 text-base md:text-left sm:text-2xl md:text-4xl lg:text-5xl
    }
    .carousal-with-logo{
        @apply gap-8 bg-[#F3AF9A] text-black md:flex md:w-80 md:flex-shrink-0 md:flex-col md:items-center md:justify-center rounded-e-full md:rounded-none
    }
    .donate-btn{
        @apply h-10 mt-5 rounded-md transition-colors duration-300 bg-gradient-to-r from-[#ec0404] to-[#ed6002] hover:from-green-700 hover:to-green-600 px-4 text-white
    }
}
